name: build package

on: [workflow_dispatch]

jobs:
  build_sdist:
    name: Build source dist
    runs-on: ubuntu-latest
    steps:
    - name: Checkout library
      uses: actions/checkout@v3
      with:
        submodules: true

    - name: Install dependencies
      run: python -m pip install build twine
    
    - name: Build
      run: python -m build --sdist

    - name: Check metadata
      run: python -m twine check dist/*

    - uses: actions/upload-artifact@v3
      with:
        path: dist/*.tar.gz


  build_wheels:
    name: Wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        #os: [ubuntu-latest, windows-latest, macos-latest]
        os: [macos-latest]
        #python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
        python-version: ["3.11"]
    env:
      CIBW_SKIP: "*-win32"
      CIBW_ARCHS_MACOS: arm64
      CIBW_ARCHS_WINDOWS: auto ARM64
    steps:
    - name: Checkout library
      uses: actions/checkout@v3
      with:
        submodules: true

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
      
    - uses: pypa/cibuildwheel@v2.13.0
      build_verbosity: 2
#     env:
#       CIBW_ARCHS_MACOS: arm64
#       CIBW_ARCHS_WINDOWS: auto ARM64
        
    - name: Verify clean directory
      run: git diff --exit-code
      shell: bash

    - name: Upload wheels
      uses: actions/upload-artifact@v3
      with:
        path: wheelhouse/*.whl

